name: main

on:
  push:
    branches:
      - master
    tags:
      - "**"
  pull_request:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4

      - uses: actions/setup-node@1e60f620b9541d16bece96c5465dc8ee9832be0b # v4
        with:
          node-version-file: ".tool-versions"
          cache: "npm"

      - name: Install
        run: npm ci

      - name: Build
        run: npm run build

      - name: Test
        run: npm run test

      - name: Format
        run: npm run fmtcheck
      # - name: "check for uncommitted changes"
      #   # Ensure no changes, but ignore node_modules dir since dev/fresh ci deps installed.
      #   run: |
      #     git diff --exit-code --stat -- . ':!node_modules' \
      #     || (echo "##[error] found changed files after build. please 'npm run build && npm run fmt'" \
      #             "and check in all changes" \
      #         && exit 1)
  integration:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4

      - uses: actions/setup-node@1e60f620b9541d16bece96c5465dc8ee9832be0b # v4
        with:
          node-version-file: ".tool-versions"
          cache: "npm"

      - name: Diffset
        id: diffset
        uses: ./ # Uses an action in the root directory
        with:
          md_files: "*.md"

      - name: Print Diffset
        run: ls -al ${{ steps.diffset.outputs.files }}

      - name: Print MD Files
        if: steps.diffset.outputs.md_files
        run: echo "Files changed were ${{ steps.diffset.outputs.md_files }}"

      - name: Print Rust Files
        if: steps.diffset.outputs.rust_files
        run: echo "Files changed were ${{ steps.diffset.outputs.rust_files }}"
